<ion-header>
  <ion-toolbar color="orchid"> 
    <ion-title>Editar Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()" fill="clear" color="light">Cerrar</ion-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="profileForm" (ngSubmit)="save()">
    <!-- Nombre -->
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input type="text" formControlName="nombre" required></ion-input>
    </ion-item>

    <!-- Apellido -->
    <ion-item>
      <ion-label position="floating">Apellido</ion-label>
      <ion-input type="text" formControlName="apellido" required></ion-input>
    </ion-item>

    <!-- Edad -->
    <ion-item>
      <ion-label position="floating">Edad</ion-label>
      <ion-input type="number" formControlName="edad" required></ion-input>
    </ion-item>

    <!-- Whatsapp -->
    <ion-item>
      <ion-label position="floating">Whatsapp</ion-label>
      <ion-input type="tel" formControlName="whatsapp" required></ion-input>
    </ion-item>

    <!-- Carrera -->
    <ion-item>
      <ion-label position="floating">Carrera</ion-label>
      <ion-select formControlName="carrera">
        <ion-select-option value="Analista Programador">Analista Programador</ion-select-option>
        <ion-select-option value="Ingeniería en Informática">Ingeniería en Informática</ion-select-option>
        <ion-select-option value="Desarrollo de Aplicaciones">Desarrollo de Aplicaciones</ion-select-option>
        <ion-select-option value="Ingeniería en Desarrollo de Software">Ingeniería en Desarrollo de Software</ion-select-option>
        <ion-select-option value="Ingeniería en Informática">Ingeniería en Informática</ion-select-option>
        <ion-select-option value="Ingeniería en Infraestructura Tecnológica">Ingeniería en Infraestructura Tecnológica</ion-select-option>
        <ion-select-option value="Ingeniería en Redes y Telecommunicaciones">Ingeniería en Redes y Telecomunicaciones</ion-select-option>
        <ion-select-option value="Informática Biomédica">Informática Biomédica</ion-select-option>
        <ion-select-option value="Otra Carrera">Otra</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Sede -->
    <ion-item>
      <ion-label position="floating">Sede</ion-label>
      <ion-select formControlName="sede">
        <ion-select-option value="Alameda">Alameda</ion-select-option>
        <ion-select-option value="Alonso de Ovalle">Alonso de Ovalle</ion-select-option>
        <ion-select-option value="Antonio Varas">Antonio Varas</ion-select-option>
        <ion-select-option value="Campus Arauco">Campus Arauco</ion-select-option>
        <ion-select-option value="Campus Nacimiento">Campus Nacimiento</ion-select-option>
        <ion-select-option value="Campus Villarrica">Campus Villarrica</ion-select-option>
        <ion-select-option value="Maipu">Maipú</ion-select-option>
        <ion-select-option value="Melipilla">Melipilla</ion-select-option>
        <ion-select-option value="Plaza Norte">Plaza Norte</ion-select-option>
        <ion-select-option value="Plaza Oeste">Plaza Oeste</ion-select-option>
        <ion-select-option value="Plaza Vespucio">Plaza Vespucio</ion-select-option>
        <ion-select-option value="Puente Alto">Puente Alto</ion-select-option>
        <ion-select-option value="Puerto Montt">Puerto Montt</ion-select-option>
        <ion-select-option value="San Andres de Concepcion">San Andrés de Concepción</ion-select-option>
        <ion-select-option value="San Bernardo">San Bernardo</ion-select-option>
        <ion-select-option value="San Carlos de Apoquindo">San Carlos de Apoquindo</ion-select-option>
        <ion-select-option value="San Joaquin">San Joaquín</ion-select-option>
        <ion-select-option value="Valparaiso">Valparaiso</ion-select-option>
        <ion-select-option value="Vina del Mar">Viña del Mar</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botón para guardar -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" type="submit" class="custom-button">
            Guardar
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" (click)="close()" color="medium" class="custom-button">Cancelar</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>