<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="!isLoading; else loading">
    <ion-list *ngIf="events.length > 0; else noEvents">
      <ion-item *ngFor="let event of events" (click)="openEventDetail(event)">
        <ion-label>
          <h2>{{ event.tituloEvento }}</h2>
          <p>{{ event.fechaActividad | date }}</p>
          <p>{{ event.sede }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>

  <ng-template #loading>
    <ion-text class="ion-text-center">
      <h3>Cargando eventos...</h3>
    </ion-text>
  </ng-template>

  <ng-template #noEvents>
    <ion-text class="ion-text-center">
      <h3>No hay eventos disponibles en este momento.</h3>
    </ion-text>
  </ng-template>
</ion-content>