<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ profile.nombre }} {{ profile.apellido }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Edad: {{ profile.edad }}</p>
      <p>Whatsapp: +56 {{ profile.whatsapp }}</p>
      <p>Carrera: {{ profile.carrera }}</p>
      <p>Sede: {{ profile.sede }}</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col>
  <ion-button shape="round" (click)="openEditModal()" class="custom-button">Editar Perfil</ion-button>
      </ion-col>
      <ion-col>
  <ion-button expand="block" (click)="goBack()" color="medium" class="custom-button">Volver</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Sección para la imagen de bienvenida -->
  <div class="welcome-section">
    <img src="assets/img/bienvenida.png" alt="Gatita saludando" class="welcome-image" />
    <h3>Me alegra verte por aquí</h3>
  </div>
</ion-content>
