<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ profile.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Email: {{ profile.email }}</p>
      <p>Teléfono: {{ profile.phone }}</p>
      <!-- Añade más campos según sea necesario -->
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" (click)="openEditModal()">Editar Perfil</ion-button>
</ion-content>