<ion-header [translucent]="true">
  <ion-toolbar class="top">
    <ion-title>Easy MMeeT</ion-title>
    <ion-buttons slot="end" [routerLink]="['../profile']">
      <ion-avatar>
        <img src="assets/img/profile.png" />
      </ion-avatar>
    </ion-buttons>
    
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar" showCancelButton="focus"></ion-searchbar>
</ion-header>

<!-- Sección: Categorías -->
<ion-content [fullscreen]="true"> 
  <ion-text>
    <h6 *ngIf="profile.nombre; else noProfile">¡Hola {{ profile.nombre }}!, revisa los nuevos eventos de nuestra comunidad.</h6>
    <ng-template #noProfile>
      <h6>Hola!, por favor registra y/o modificar tus datos en el perfil de usuario</h6>
    </ng-template>
  </ion-text>

<hr class="section-divider">

<ion-text>
  <h3>Categorías</h3>
</ion-text>
<ion-grid>
  <ion-row class="category-row">
    <ion-col size="auto" *ngFor="let category of categories" (click)="openCategoryDetails(category.name)">
      <ion-button class="category-button">
        <ion-icon slot="icon-only" [name]="category.icon"></ion-icon>
      </ion-button>
      <p>{{ category.name }}</p>
    </ion-col>
  </ion-row>
</ion-grid>

<hr class="section-divider">

  <ion-text class="section-title">
    <h3>Descubre nuevos eventos</h3>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="event-card">
          <ion-img src="assets/img/Mentorias2.png"></ion-img>
          <ion-card-content>
            Mentorías
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="event-card">
          <ion-img src="assets/img/Charlas2.png"></ion-img>
          <ion-card-content>
            Charlas
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
<hr class="section-divider">

  <ion-text class="section-title">
    <h3>Eventos Recomendados</h3>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="event-card">
          <ion-img src="assets/img/Talleres.png"></ion-img>
          <ion-card-content>
            Talleres
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="event-card">
          <ion-img src="assets/img/Desafios.png"></ion-img>
          <ion-card-content>
            Desafíos MMT
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>


