h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

ion-card {
  --border-radius: 15px;
  margin-bottom: 15px;
}

ion-card-content {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

ion-button {
  --background: #f1f1f1;
  --color: #000;
  --border-radius: 50%;
  width: 60px;
  height: 60px;
}

.top {
  display: flex;
  justify-content: space-between;
}

.category-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que los botones se reorganicen en pantallas pequeñas */
}

.category-button ion-icon {
  font-size: 2.5em;
}

ion-col p {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  margin-top: 0;
  color: #000;
}

ion-footer {
  height: 3.5em; /* Ajusta la altura del footer */
}

ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
  margin-bottom: var(--ion-safe-area-bottom, 0);
}