<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mantente al día con los últimos Eventos</ion-title>
    <ion-buttons slot="end">
      <ion-avatar>
        <img src="assets/img/profile.png" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Buscador -->
  <ion-searchbar placeholder="Buscar" showCancelButton="focus"></ion-searchbar>

  <!-- Sección: Descubre nuevos eventos -->
  <ion-text>
    <h2>Descubre nuevos eventos</h2>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/mentorias.jpg"></ion-img>
          <ion-card-content>
            Mentorías
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Charlas.jpg"></ion-img>
          <ion-card-content>
            Charlas
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Sección: Categorías -->
<!-- Sección: Categorías -->
<ion-text>
  <h2>Categorías</h2>
</ion-text>
<ion-grid>
  <ion-row class="category-row">
    <ion-col size="auto">
      <ion-button fill="solid" shape="round" class="category-button">
        <ion-icon name="briefcase-outline"></ion-icon>
      </ion-button>
      <p>Talleres</p>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="solid" shape="round" class="category-button">
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>
      <p>Desafíos</p>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="solid" shape="round" class="category-button">
        <ion-icon name="book-outline"></ion-icon>
      </ion-button>
      <p>Mentorías</p>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="solid" shape="round" class="category-button">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
      <p>Charlas</p>
    </ion-col>
    <ion-col size="auto">
      <ion-button fill="solid" shape="round" class="category-button">
        <ion-icon name="train-outline"></ion-icon>
      </ion-button>
      <p>Stands</p>
    </ion-col>
  </ion-row>
</ion-grid>

  <!-- Sección: Eventos Recomendados -->
  <ion-text>
    <h2>Eventos Recomendados</h2>
  </ion-text>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Talleres.jpg"></ion-img>
          <ion-card-content>
            Consolida tus conocimientos
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <ion-img src="assets/img/Desafios.jpg"></ion-img>
          <ion-card-content>
            Atrévete
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Barra de navegación inferior -->
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      Home
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      Noticias
    </ion-tab-button>
    <ion-content [fullscreen]="true">
      <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="openCreateEventModal()">
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-content>
    <ion-tab-button tab="camera">
      <ion-icon name="camera-outline"></ion-icon>
      Galeria
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
