.section-title {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #8a2be2; /* Puedes cambiar el color a lilas o tonos violetas */
  margin: 10px 0;
  font-weight: bold;
  text-align: center;
}

.category-row {
  text-align: center;
}

.category-button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  --background: linear-gradient(45deg, #B583FF, #D4A5FF, #FF77FF);
  margin: 10px;
}

.event-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fab-button {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.fab-button:hover {
  transform: scale(1.1); /* Efecto de agrandamiento */
}

ion-avatar {
  border: 2px solid #8a2be2;
  border-radius: 50%;
}

h2 {
  font-family: 'Poppins', sans-serif;
}

p {
  font-family: 'Poppins', sans-serif;
}


.top {
  display: flex;
  justify-content: space-between;
}

.category-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que los botones se reorganicen en pantallas pequeñas */
}

.category-button ion-icon {
  font-size: 2.5em;
}

ion-col p {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  margin-top: 0;
  color: #000;
}

ion-footer, ion-toolbar {
  height: 3.5em; /* Ajusta la altura del footer */
}

ion-fab {
  margin-top: var(--ion-safe-area-top, 0);
  margin-bottom: var(--ion-safe-area-bottom, 0);
}