<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EasyMMeeT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img src="assets/img/home.png" alt="Imagen principal" />
  </div>

  <div id="container">
    <strong>EASYMMeeT</strong>
    <p>Entra y sé parte del mundo de MMT</p>
  </div>

  <div class="button-container">
    <ion-button expand="block" (click)="goToAuthentication()" class="explore-button">
      Explora el Mundo de MMIT
    </ion-button>
  </div>
</ion-content>


