<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      EasyMMeeT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <img src="assets/img/home.png" alt="Imagen principal" />
  </div>
  
  <div id="container">
    <strong>EasyMMeeT</strong>
    <p>Entra y sé parte de Más Mujeres en las TIC's</p>
  </div>

  <div class="button-container">
    <ion-button expand="block" color="primary" class="explore-button">
      Explora el Mundo de MMT
    </ion-button>
  </div>
</ion-content>

